
.main{
    padding-bottom: 0%;
    padding-top: 6%;
    box-sizing: border-box;
    position: relative;
    background-image: url("./theme.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}


.content{
    text-decoration: none;
    padding: 90px;
    text-align: center;
    color: #b7e517;
    font-size: 20px;
    margin:2%;
}


.buts{
    text-decoration: none;
    color: cornsilk;
    padding: 7px 15px;
    background: #23a74e;
    border: 2px solid #006d6d;
    border-radius: 7px;
    font-size: medium;
}

.buts:hover{
    text-decoration: none;
}


