.signUp-div-background{
    margin: 0%;
    padding: 3%;
    background-image: url("./theme.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;

    grid-template-columns: 450px;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    justify-items: center;
}


.signUp-div
{
    margin: 2% ;
    border-radius: 2%;
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 10%;
    background-color: white;
    grid-area: 1 / 1 / 2 / 2;
}



