*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



nav {
    margin: 0;
    background-color: #003f63;  
    box-shadow: -3px -1px 8px 7px black;    
}

.menu{
    margin: 0px;
    
    border: 1px solid black;
}

.menu li{
    list-style: none;
    font-size: 16px;
}


 .menu li a{
    display: block;
    margin: 14px 12px;
    text-decoration: none; 
    color: white; 
}


/*mobile menu*/
.menu {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 0%;
    justify-content: space-between;
}


/*items*/
.items{
    order: 4;
    width: 100%;
    margin: 10px 7px;
    text-align: left;
    display: none;
}
.items.button.secondary{
    order: 5;
    width: auto;
    margin: 3px;
    text-align: left;
    display: none;
    color: #23a74e;
}

/*menu button*/
.toggle{ 
    order: 1;
    cursor: pointer;
    text-align: left;
    display: block;
    margin: 2%;
}

/*logo*/
.logo{
    order: 2;
    display: block;
    margin: 1%;
}

/*items sign in and sign up*/
.items.button
{
    width: auto;
    order:3;
    display: block;
    
}
.items.active{
    display:block;
}
.items.button.secondary.active{
    display:block;
}


.bars{
    background:white;
    display: inline-block;
    height: 5px;
    position: relative;
    width: 30px;
    padding: 2%;
}

.bars::before, .bars::after{
    background:white;
    content: "";
    display: inline-block;
    height: 6px;
    position: absolute;
    width: 45px;
}

.bars::before{
    top:15px;
    width: 45px;
}
 
.bars::after{
    top:-16px;
    
}

.button.secondary a{
    text-decoration: none;
    padding: 5px 15px;
    background-color: #23a74e;
    border: 1px solid #006d6d;
    border-radius:11px;
}


/*Tab menu*/

@media all and (min-width:468px)
{
    
 
}


/*For desktop menu*/
/* @media  (min-width: 998px) */
@media only screen and (min-width: 998px)
{
    .items
    {
        display: block;
        width: auto;
        order: 2;
    }

    .toggle
    {
        display: none;
    }

    .logo
    {
        text-align: left;
        flex: 1;
    }

    .items.button.secondary
    {
        order:4;
        width: auto;
        display: block;
        padding-left: 1%;
    }
    .items.button{
        order:3;
    }



}

@media only screen and (max-width: 496px)
{
    .toggle
    {
        margin: 3%;
    }
    .logo{
        order:3;
        width: 80%;
        display: block;
        margin: 0% 20%;
    }

   .main-icon {

        margin: 0% 0px 4% -17px;
    }
    .items.button{
        order:2;
    }
}